<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport"
         content="initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
		<link rel="stylesheet" href="./css/swiper-3.4.2.min.css">
		<link rel="stylesheet" href="./css/zt-classify.css">
		<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
		<script src=""></script>
	</head>
	<body>
		<div id="main">
			<div class="list">
				<div class="search-bar">
					<ul>
						<li @click="clickGrade" :class="isShowGrade ? 'selected' : ''">{{grade}}<i></i></li>
						<li @click="clickSubject" :class="isShowSubject ? 'selected' : ''">{{subject}}<i></i></li>
						<li @click="clickType" :class="isShowType ? 'selected' : ''">{{teacherType}}</li>					
					</ul>
				</div>
				<div v-if="condition" class="tips" :class="isShowAllSelect ? 'show' : 'hide'">
					<div class="search-select-box" :class="isShowGrade ? 'show' : 'hide'">
						<span class="select-item" v-for="item in condition.grade" @click="clickItem(item)" :class="item.isSelected ? 'selected' : ''">{{item.label}}</span>						
					</div>
					<div class="search-select-box" :class="isShowSubject ? 'show' : 'hide'">
						<span class="select-item" v-for="item in condition.subject" @click="clickItem(item)" :class="item.isSelected ? 'selected' : ''">{{item.label}}</span>						
					</div>
					<div class="search-select-box" :class="isShowType ? 'show' : 'hide'">
						<span class="select-item" v-for="item in condition.type" @click="clickItem(item)" :class="item.isSelected ? 'selected' : ''">{{item.label}}</span>						
					</div>
				</div>
				<div class="teacher-list">
					<a :href="'./zt-more.html?id='+item.id" v-for="item in list">
						<div class="teacher-item">
							<img :src="item.image" alt="">
							<div class="teacher-info">
								<p class="detail">
									<span class="name">{{item.name}}</span>
									<span class="sub">{{item.subject[0].label}}</span>
									<span class="grade-tag">{{item.grade[0].label}}</span>
									<span class="teach-time">授课{{item.teach_year}}小时</span>
								</p>
								<p class="school">
									<span>{{item.teach_year}}年教龄</span>
								</p>
								<p class="accept">
									<span>{{item.extend_tag[0].label}}</span>
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	<script src="./js/swiper-3.4.2.min.js"></script>
	<script src="./js/zt-classify.js"></script>
	</body>
</html>
