<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>教师详情</title>
	<meta name="viewport"
         content="initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="./css/swiper-3.4.2.min.css">
	<link rel="stylesheet" href="./css/zt-more.css">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
</head>
<body>
	<div id="content">
		<div class="teacher-item">
			<img :src="list.image" alt="" class="teacher-pic">
			<div class="teacher-info-text">
				<p class="detail">
					<span class="name">{{list.name}}</span>
					<span class="sub" v-for="item in list.subject">{{item.label}}</span>
					<span class="grade-tag" v-for="item in list.grade">{{item.label}}</span>
					<span class="teach-price">{{list.price}}</span>
				</p>
				<p class="school">
					<span>{{list.teach_year}}年教龄</span>
				</p>
				<p class="accept">
					<span v-for="item in list.extend_tag">{{item.label}}</span>
				</p>
				<i>已授课{{list.teach_time}}小时</i>
			</div>
		</div>
		<div class="info-box">
			<div class="assess-teacher-info">
				<p class="title">个人简介</p>
				<div class="content">
					<p>{{list.intro}}</p>
				</div>
			</div>
			<div class="assess-teacher-info">
				<p class="title">教学经历</p>
				<div class="content">
					<p v-for="item in list.teacher_experience">{{item.title}}</p>
				</div>
			</div>
			<div class="assess-teacher-info">
				<p class="title">成功案例</p>
				<div class="content teach-case-content" v-for="item in list.teacher_case">
					<p class="teach-title">{{item.title}}</p>
					<p>{{item.content}}</p>
				</div>
			</div>
		</div>
		<div class="order-line">
			<div class="order-text">					
      			满意就预约吧 
      			<hr>   
			</div>
		</div>
		<div class="order-btn">
			<div class="btn collect"><span>收藏</span></div>
			<div class="btn order-now">预约试讲</div>
		</div>
	</div>
<script src="./js/swiper-3.4.2.min.js"></script>	
<script src="./js/zt-more.js"></script>
</body>
</html>