<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>知图教育1</title>
	<meta name="viewport"
         content="initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
	<link rel="stylesheet" href="./css/zt.css">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
	<script src=""></script>
</head>
<body>
	<div id="main">
		<div class="head">
			<img src="./image/logo.png" alt="">
			<div class="my">
				<img src="./image/my.png" alt="">
				<span>我的</span>
			</div>
		</div>
		<div class="top-pic">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
					<div class="swiper-slide" v-for="item in banner"><img :src="item.image" alt=""></div>
			    </div>
		    <div class="swiper-pagination"></div>
			</div>
		</div>
		<div class="subject-box">
			<a :href="'./zt-classify.html?id='+item.id+'$name='+item.name"  v-for="item in subjects">
				<ul class="clearfix">
					<li>
						<img :src="item.icon" alt="">
						<p>{{item.name}}</p>
					</li>
				</ul>
			</a>
		</div>
		<div class="hot-teacher">热门教师</div>
		<div class="teacher-list">
			<a :href="'./zt-more.html?id='+item.id" v-for="item in list"><div class="teacher-item">
				<img :src="item.image" alt="">
				<div class="teacher-info">
					<p class="detail">
						<span class="name">{{item.name}}</span>
						<span class="sub">{{item.subject[0].label}}</span>
						<span class="grade-tag">{{item.grade[0].label}}</span>
						<span class="teach-time">授课{{item.teach_year}}小时</span>
					</p>
					<p class="school">
						<span>{{item.teach_year}}年教龄</span>
					</p>
					<p class="accept">
						<span>{{item.extend_tag[0].label}}</span>
					</p>
				</div>
			</div></a>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
	<script type="text/javascript">
	var vueAjax = new Vue({
		el:'#main',
		data:{
			banner:[],
			subjects:[],
			list: [],
			subject: {},
		},
		mounted: function(){
            this.getData();
            this.getQueryStringArgs();
        },
        methods:{
        	getData: function(){
        		var that = this;
	        	$.ajax({
	                url: "http://api.zhituteam.com/api/index",
	                type: "get",
	                data: {},
	                dataType: "json",
	                success: function(res){
	                	that.subjects=res.data.subjects; 
	                    that.subject=res.data.teacher.subject;          
	                    that.list=res.data.teacher; 
	                    var newBannerList=[];
	                    for(i=0;i<5;i++){
	                    	newBannerList = newBannerList.concat(res.data.banner);
	                    }               
	                    that.banner = newBannerList;
							var mySwiper = new Swiper ('.swiper-container', {
							    direction: 'horizontal',
							    loop: true,

							     // 如果需要分页器
							    pagination: '.swiper-pagination',
							     paginationClickable: true,
							            speed: 500,
							            loop: true,
							            observer:true,
							            observeParents:true,
							            autoplayDisableOnInteraction : false,
							            autoplay:2000,
							        })
	                },
	                error: function(res){

	                }
	            })
	     
        	},
        }
	})
	</script>
</body>
</html>
